/* :nohl */

.primary {
    display: none;
    padding-left: 10px;
}
.secondary {
    display: none;
    padding-left: 20px;
}
.button{
    color: white;
    border: none;
    background: none;
    padding: 0px;
    display: block;
    font-size: 16px;
}
.button:hover{
	text-decoration: underline white;
}
@font-face {
	src: url(fonts/Tiny5-Regular.ttf);
	font-family: pixel;
}
body{
	background-color: #789461;
}
p{
	color: #DBE7C9;
    margin: 0;
}
h1{
	font-family: pixel;
	color: #DBE7C9;
}
h2{
	font-family: pixel;
	color: #DBE7C9;
}
h3{
	font-family: pixel;
	color: #DBE7C9;
    margin: 0;
}
#maturita_files {
	width: 500px;
	height: 500px;
	background: rgba(80, 98, 58, 0.65);
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
	padding: 10px;
    position: relative;
                }
                #maturita_files #currently_reading {
                    position: normal;
                    height: 10%; /* height is auto */
                    left: 10px;
                    right: 10px;
                    background: rgb(219, 231, 201, 0.2);
                    padding: 5px;
                    margin-bottom: 10px;
                }
#books {
	width: 500px;
	height: 2000px;
	background: rgba(80, 98, 58, 0.65);
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px;
	padding: 10px;
    position: relative;
}
.container {
    display: flex;
    /*flex-direction: column; IT ALSO ADD FUCKIN AI*/

    justify-content: center;

    /*flex-wrap: wrap; IT ADD FUCKIN AIIII*/

    min-height: 350px;
}

.book {
    width: 220px;

    margin: 10px;

    padding: 10px;

    border: 2px dashed rgba(219,231,201,0.7);

    text-align: center;
}

.image_box {
    height: 320px;

    display: flex;

    align-items: center;

    justify-content: center;

    overflow: hidden;
}

.image_box img {
    max-width: 100%;

    max-height: 100%;

    object-fit: contain;
}
body {
	image-rendering: pixelated;
	background-image: url("images/forest-tile.png");
    margin: 0px;
}
.link{
	color: white;
	text-decoration: none;
    display: block;
    font-size: 16px;
}
.link:hover{
	text-decoration: underline white;
}
.bar {
    background: rgba(80, 98, 58, 0.65);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.bar a {
    color: white;
    display: inline-block;
    padding: 4px 10px;
}

